.bso__search_button{
    /* Figure */
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #919191;
    border-radius: 10px;
    border-color:#919191;

     /* Text */
     text-align: right;
     margin-right: 4px;
     font-family: 'Akshar';
     font-style: normal;
     font-size: 20px;
     line-height: 33px;
     color: #919191;
     cursor: pointer;
     padding-right: 32px;
}

.bso__search_image{
    /* Images */
    width: 22px;
    float: right;
    margin: 4px 4px 0px -32px;
    position:absolute;
    cursor: pointer;
}