.btn__login{
    /* Figure */
    position: absolute;
    width: 40%;
    height: 30px;
    background: #EF8F00;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 0px;
    left: 30%;
    top: 151px;
    /* Text */
    font-family: 'Eras Bold ITC';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

