.pi__form{
    height: 30px;
    width: calc(100% - 225px);
    background-color:  #FFFFFF;
    left: 225px;
}
.pi__text_link{
    border: 0px;
    background: rgba(0, 0, 0, 0);
    
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 13px;
    color: #0A66C2;
    text-decoration: underline;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.pi__text_link_active{
    border: 0px;
    background: rgba(0, 0, 0, 0);
    
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 13px;
    color: #EF8F00;
    text-decoration: underline;
    font-weight: bold;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.pi__table_hr{
    position: absolute;
    display: flex;
    border: 0px;
    background:#CECECE;
    height: 1px;
    width: 100%;
    left: 0px;
}
.pi__table_hr_last{
    position: absolute;
    display: flex;
    border: 0px;
    background:#CECECE;
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: 0px;
}
.pi__table_v1{
    position: absolute;
    display: flex;
    border: 0px;
    background:#CECECE;
    height: 30px;
    width: 1px;
    left: 5.5%;
}
.pi__table_v2{
    position: absolute;
    display: flex;
    border: 0px;
    background:#CECECE;
    height: 30px;
    width: 1px;
    left: 18.5%;
}
.pi__table_v3{
    position: absolute;
    display: flex;
    border: 0px;
    background:#CECECE;
    height: 30px;
    width: 1px;
    left: 30.5%;
}
.pi__table_v4{
    position: absolute;
    display: flex;
    border: 0px;
    background:#CECECE;
    height: 30px;
    width: 1px;
    left: 43%;
}
.pi__table_v5{
    position: absolute;
    display: flex;
    border: 0px;
    background:#CECECE;
    height: 30px;
    width: 1px;
    left: 55.5%;
}
.pi__table_v6{
    position: absolute;
    display: flex;
    border: 0px;
    background:#CECECE;
    height: 30px;
    width: 1px;
    left: 68%;
}
.pi__table_v7{
    position: absolute;
    display: flex;
    border: 0px;
    background:#CECECE;
    height: 30px;
    width: 1px;
    left: 80.5%;
}
.pi__table_v8{
    position: absolute;
    display: flex;
    border: 0px;
    background:#CECECE;
    height: 30px;
    width: 1px;
    left: 93%;
}
.pi__col1{
    /* Figure */
    position: absolute;
    width: 5.5%;
    height: 30px;
    justify-content: center;
    /* Text */
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 13px;
    color:#000000;
    display: flex;
    align-items: center;
    text-align: center;
}
.pi__col2{
    /* Figure */
    position: absolute;
    display: flex;
    width: 13%;
    height: 30px;
    left: 5.5%;
    justify-content: center;
    /* Text */
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 15px;
    color:#0A66C2;
    text-decoration: underline;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.pi__col3{
    /* Figure */
    position: absolute;
    display: flex;
    width: 12%;
    height: 30px;
    left: 18.5%;
    justify-content: center;
    /* Text */
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 13px;
    color:#000000;
    align-items: center;
    text-align: center;
}
.pi__col4{
    /* Figure */
    position: absolute;
    display: flex;
    width: 12.5%;
    height: 30px;
    left: 30.5%;
    justify-content: center;
    /* Text */
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 13px;
    color:#000000;
    align-items: center;
    text-align: center;
}
.pi__col5{
    /* Figure */
    position: absolute;
    display: flex;
    width: 12.5%;
    height: 30px;
    left: 43%;
    justify-content: center;
    /* Text */
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 13px;
    color:#000000;
    align-items: center;
    text-align: center;
}
.pi__col6{
    position: absolute;
    display: flex;
    width: 12.5%;
    height: 30px;
    left: 55%;
    justify-content: center;
    /* Text */
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 13px;
    color:#000000;
    align-items: center;
    text-align: center;
}
.pi__col7{
    /* Figure */
    position: absolute;
    display: flex;
    width: 13%;
    height: 30px;
    left: 68%;
    justify-content: center;
    /* Text */
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 13px;
    color:#000000;
    align-items: center;
    text-align: center;
}
.pi__col8{
    /* Figure */
    position: absolute;
    display: flex;
    width: 12.5%;
    height: 30px;
    left: 80.5%;
    justify-content: center;
    /* Text */
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 13px;
    color:#000000;
    align-items: center;
    text-align: center;
}
.pi__col9{
    /* Figure */
    position: absolute;
    display: flex;
    width: 7%;
    height: 30px;
    left: 93%;
    justify-content: center;
    /* Text */
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 13px;
    color:#000000;
    align-items: center;
    text-align: center;
}