.ol__offer{
    float: left;
    margin: 6px 6px 1.5px 6px;
    width: calc(100% - 238px);
    background: #FFFFFF;
    border: 0px ;
}
.ol__hr{
    margin: -6px -6px 6px -12px;
    border: 0px;
    background: #CECECE;
    height: 4px;
    width: calc(100%-225px);
    left: 225px;
}
.ol__title_text{
    float: left;
    font-family: 'Akshar';
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #919191;
    padding-left: 6px;
    padding-right: 16px;
}
.ol__body_text{
    text-align: left;
    font-family: 'Reem Kufi';
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    padding-left: 6px;
}
