.bb__bar{
    /* Form line */
    bottom: 0px;
    float: right;
    width: calc(100% - 225px); ;
    border: 0px;
    height: 75px;
    background: #F9E4C4;

    font-family: 'Eras Bold ITC';
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
