.tbs__top_bar{
    /* Form line */
    width: 100%;
    border: 0px;
    height: 70px;
    background: #CECECE;
}
.tbs__photo_app{
    /* Photo user */
    height: 44px;
    float: left;
    margin: 13px 13px 0px 13px;
}
.tbs__search{
    float: left;
    margin-top: 16px;
    margin-left: 14px;
}
.tbs__home_notice_chat{
    float: right;
    margin-left: 3%;
}
